.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


@font-face {
  font-family: "italic";
  src: url("assets/fonts/Inter-Italic.woff2");
}

@font-face {
  font-family: "medium";
  src: url("assets/fonts/inter_Inter-Medium.woff");
}
@font-face {
  font-family: "regular";
  src: url("assets/fonts/Inter-Regular.woff2");
}

@font-face {
  font-family: "semibold";
  src: url("assets/fonts/Inter-SemiBold.woff2");
}

@font-face {
  font-family: "semiitalic";
  src: url("assets/fonts/Inter-SemiBoldItalic.woff2");
}

body {
  box-sizing: border-box;
  /* overflow: hidden; */
  margin: 0;
  padding: 0;
}

.main {
  background-color: #f1f3f6;
  height: 100%;
}

.nav {
  position: fixed;
  top: 0;
  /* min-width: 978px; */
  background-color: #2874f0;
  width: 100%;
  color: white;
  display: flex;
  height: 56px;
  z-index: 1030;
  overflow: hidden;
}

.subnav {
  max-width: 1248px;
  width: 100%;
  margin: auto;
  font-family: "semibold";
  display: flex;
  padding-top: 11px;
  margin-top: 0;
}

.navbutton {
  border: none;
  background-color: white;
  color: #2874f0;
  margin-bottom: 4px;
  font-weight: 600;
  /* margin: 0 20px; */
  padding: 5.5px 39.9px 5px 40.2px;
  box-shadow: 0 1px 1px rgb(247, 245, 245);
  margin-top: 2px;
  font-size: 15.7px;
  font-family: "regular";
  letter-spacing: 0.099px;

}


.fliplogo {
  display: flex;
  min-width: 137px;
  justify-content: flex-end;
}

.fliplogo .toplogo {
  width: 76px;
}

.fliplogo .toplogo img {
  width: 75px;
}

.fliplogo .bottomlogo {
  font-size: 11px;
  font-family: "italic";
  margin-top: -4px;
  flex-wrap: nowrap;
}

.fliplogo .bottomlogo img {
  width: 10px;
  /* margin-left: 1px; */
}

.fliplogo .bottomlogo span {
  color: #ffe500;
  margin-left: -1px;
  margin-right: 1.6px;
  letter-spacing: 0;
  font-weight: 800;
}

.search {
  display: flex;
  margin: -1px 29px -2px 12px;
  min-width: 304px;
  width: calc(100% -540px);
  background-color: rgb(253, 253, 250);
  box-sizing: border-box;
  border-radius: 1px;
  padding: 0px 14px;
  flex: auto;
  padding-right: 13px;
  height: 36px;
  max-width: 564px;
  justify-content: space-between;
  box-shadow: 0 0px 5px rgb(61, 61, 60);
}

.search input {
  color: rgb(17, 17, 16);
  border: none;
  width: 100%;
  font-size: 14.5px;
  font-family: "regular";
  letter-spacing: -0.29px;
  margin-right: 0;
  height: 36px;
  padding-top: 0px;
  overflow: hidden;
  background-color: transparent;

}

.search input:focus {
  outline: none;
}

.search img {
  margin-top: 2px;
  width: 19.5px;
}

.seller,
.more,
.cart {
  margin: 0 19.4px;
  padding-top: 8px;
  min-width: max-content;
}

.seller {
  padding-left: 21px;
  font-family: "regular";
  font-weight: 600;
  font-size: 15.35px;
  letter-spacing: 0.13px;
}

.more {
  letter-spacing: 0px;
  padding-top: 13px;
  font-weight: 600;
  font-family: "regular";
  font-size: 15.7px;
  margin-left: 20.5px;
  line-height: 1px;
}

.more img {
  width: 8px;
  filter: invert();
  margin-left: 1px;
  /* margin-top: 1px; */
  margin-bottom: 1px;
}

.cart {
  font-weight: 600;
  font-family: "regular";
  padding-left: 8px;
  padding-top: 8px;
  font-size: 15.9px;
  display: flex;
  gap: 8px;
  letter-spacing: 0.04px;
}

.cart img {
  width: 16px;
  height: 16px;
  /* margin-bottom:px; */
  margin-top: 1px;

}

.dropmenu {
  margin-top: 56px;
  box-shadow: 0 1px 5px 0 rgba(5, 5, 5, 0.16);
  min-height: 40px;
  display: flex;
  gap: 10px;
  background-color: white;
 
}

.dropmenu .subnav {
  padding-top: 0;
  align-items: center;
  justify-content: space-between;
  height: 40px;
}

.dropmenu span {
  list-style-type: none;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding-left: 0;
  /* font-weight: 700; */
  font-family: "regular";
  font-size: 13.4px;
  min-width: max-content;
  letter-spacing: 0.15px;
  word-spacing: -0.4px;
  line-height: 1;
  height: 100%;
  font-weight: 600;
  cursor: pointer;
  padding-top:2px ;
}

.dropmenu span:hover {
  color: #2874f0;
}

.dropmenu span img {
  width: 8px;
  filter: invert(0.7);
  margin-left: 6px;
  /* height:8px; */
  margin-top: -2px;
}

.dropmenu .subnav span:nth-last-child(1) img,
.dropmenu .subnav span:nth-last-child(2) img {
  display: none;
}

.dropmenu .subnav span:nth-last-child(1) {
  margin-left: 1px;
}


.bodysec {
  margin: 0 auto;
  min-width: 978px;
  max-width: 1680px;
  margin-top: 1px;
  position: relative;
  background-color: rgb(239, 241, 241);
}

.subbody {
  display: flex;
  flex-flow: row;
  padding: 8px;
  padding-top: 7px;
  
}

.rightsec {
  flex-grow: 1;
  overflow: auto;
  background-color: white;
  display: flex;
  flex-flow: column;

}

.topright {
  padding: 16.6px 15.7px 0;
  /* border: 1px solid #f0f0f0; */

}

.homedata {
  display: flex;
  padding: 0;
  margin: 0;
}

.homedata span {
  font-size: 12px;
  font-family: "regular", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  color: #878787;
  cursor: pointer;
}

.homedata span img {
  width: 13px;
  height: 9px;
  margin-left: 3px;
  margin-right: 3.6px;
  margin-top: 3px;
  filter: invert(0.6);
}

.homedata span:nth-last-child(1) {
  padding-left: 1px;
}

.homedata span:nth-last-child(1) img {
  display: none;
}

.homedata span #p {
  max-width: 80px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline;
  vertical-align: middle;
}

.homedata span #p:hover {
  max-width: max-content;
}

.contentdata {
  font-size: 15.8px;
  font-weight: 500;
  font-family:"medium",-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-top: 8px;
  line-height: 1.52;
  letter-spacing: 0.1px;

}

.links {
  margin-top: 1px;
  display: flex;
  padding-bottom: 6px;
  padding-top: 5px;
  box-shadow: 0 .1px .8px rgb(167, 166, 166);
  margin-left: -16px;
  padding-left: 16px;
  margin-right: -16px;
}

.links span {
  font-size: 14px;
  letter-spacing: .15px;
  font-weight: 00;
  line-height: 1.4;
  padding: 0px 0px 5px 0 !important;
  cursor: pointer;
  color: black;
  margin-right: 20px !important;
  border-bottom: 2px transparent;
  letter-spacing: -.02px;
}

.links {
  font-family: "regular", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.links .active {
   letter-spacing: 0px;
  font-family: 'medium';
  color: #2874f0;
  border-bottom: 2px solid #2874f0;
  /* font-weight: 600; */
  

}


.links .sort {
  font-size: 14px;
  align-items: center;
  padding-top: 2px;
  padding-right: 20px;
  font-family: 'medium';
  letter-spacing: 0px;
}

/* ======================== left nav ================================================= */

.leftsec {
  flex: 0 0 280px;
  /* padding : 0 10px 0 0 !important; */
  display: flex;
  flex-flow: column;
  max-width: 280px;
  width: 16.66%;
}

.leftsec .subleft {
  background-color: rgb(255, 255, 255);
  margin-right: 10px;
}

 .left-filter {
  display: flex;

  flex-flow: column;
  border-bottom: 1px solid #f0f0f0;
}

.left-sub-filter {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.subleft .filterone {
  padding: 16px;
  padding-top: 18px;
  padding-bottom: 14px;
  font-weight: -100;
  font-size: 17px;
  font-family: "medium";
  letter-spacing: .7px;
}

.filteritem {
  display: flex;
}

.filteritem span {
  background-color: rgb(202, 201, 201);
  font-size: 11px;
  padding: 5px;
  display: flex;
  margin: 5px 5px 10px;
  width: fit-content;
  cursor: pointer;
  display: none;
  border-radius: 2px;
}

.clear {
  color: #2874f0;
  font-size: 13px;
  font-family: "semibold";
  padding: 15px;
  display: none;
  cursor: pointer;

}

.subleft .left-category {
  padding: 16px;
  padding-top: 6px;
  padding-bottom: 8px;
  border-bottom: 1px solid #f0f0f0;
}

.subleft .left-category .pdata {
  font-size: 11.581px;
  font-weight: 600;
  font-family: "regular";
  letter-spacing: 0.1px;
}

.subleft .left-category .spandata {
  width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14.1px;
  color: #878787;
  padding-left: 2px;
  font-family: "regular";
  letter-spacing:-0.1px;
}

.subleft .left-category .spandata img {
  filter: invert(0.5);
  height: 10px;
  margin-right: 7px;
}

.subleft .left-category .mobdata {
  font-size: 14px;
  margin-left: 13px;
  padding-left: 2px;
  font-family: "regular";
  letter-spacing: .1px;
  margin-top: 12px;
  font-weight: 500;
}

.subleft .left-price {
  display: flex;
  flex-flow: column;
  padding: 16px;
  padding-top: 17px;
  font-size: 13px;
  font-weight: 100;
  font-family: "regular";
  border-bottom: 1px solid #ece6e6;
  letter-spacing: 0.3px;
}

.subleft .left-price .rangebar {
  height: 26px;
  margin-bottom: -6px;
  margin-top: 7px;
  /* margin-right: 4px; */
  /* margin-left: 4px; */
  background-color: #dad7d7;
}

.subleft .left-price .range .mainrange {
  position: relative;
  height: 13px;
  cursor: pointer;
}

.subleft .left-price .range .mainrange .lsub {
  top: -3.5;
  transform: translateX(0px);
  left: -6.5px;
  z-index: 1;
  position: absolute;
  width: 20px;
  height: 20px;
}

.left-price .range .mainrange .lsub .lround {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  border: 1px solid #bababa;
  position: absolute;
  background-color: rgb(243, 243, 243);
  top: 3.5;
}

.subleft .left-price .range .mainrange .rsub {
  top: -3.5;
  transform: translateX(-1.19px);
  right: -13.5px;
  z-index: 1;
  position: absolute;
  width: 20px;
  height: 20px;
}

.left-price .range .mainrange .rsub .rround {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  border: 1px solid #bababa;
  position: absolute;
  background-color: rgb(250, 246, 246);
  top: 3.5;
}

.left-price .range .mainrange .midd .submidd {
  /* transform: translate(0px) scaleX(0.995); */
  background-color: #2874f0;
  /* transform-origin: left center; */
  top: 3px;
  height: 6px;
  position: absolute;
  width: 100%;
}

.minmax {
  margin: 5px -4px 0;
  display: flex;
  align-items: center;
  flex-flow: row;
  justify-content: stretch;
  width: 100%;
  padding-top: 15px;
}


.minmax select {
  background-color: white;
  border: 1px solid rgb(216, 219, 216);
  padding: 2px 5px;
  height: 24px;
  font-family: "regular", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 13px;
  display: flex;
  width: 100%;
  border-radius: 1px;
}

.minmax .to {
  margin: 0 9px;
  font-size: 14px;
  color: #878787;
  font-family: "regular";
}

.minmax select .minvalues {
  padding: 0 7px;
}

.left-brand {
  border-bottom: 1px solid rgb(233, 230, 230);
  padding-top: 2px;
}

.bhead {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  padding-bottom: 8px;
  font-size: 12.5px;
  font-weight: 500;
  font-family: "semibold";
  letter-spacing: .2px;
  cursor: pointer;
}

.bhead img {
  width: 10px;
  filter: invert(0.6);
  transform: rotate(0deg);
}

.subleft .bsearch {
  display: flex;
  margin: 0 14px;
  padding: 0 2px;
  border-bottom: 2px solid #d8cece;
}

.subleft .bmaincheck {
  display: block;
}

.subleft .left-brand .bsearch:hover {
  border-bottom: 2px solid #2874f0;
}

.subleft .left-brand .bsearch img {
  width: 11px;
  height: 20px;
  filter: invert(0.4);
}

.subleft .left-brand .bsearch input {
  border: none;
  color: #858080;
  margin-left: 7.5px;
  font-family: "regular";
  letter-spacing: 0.2px;
  font-size: 13px;
  height: 15px;
  bottom: -10px;
  /* margin-bottom: -px; */
  padding-bottom: 0;
}

.subleft .left-brand .bsearch input:focus {
  outline: none;
}

.subleft .bmaincheck {
  padding: 16px;
  padding-top: 5px;
}

.subleft .bmaincheck .more {
  font-family: "semibold";
  font-size: 11.6px;
  font-weight: 500;
  color: #2874f0;
  cursor: pointer;
  margin-left: 0;
}


.subleft .bcheck {
  display: flex;
  padding: 3px 0;
  /* flex-flow: column; */
}

.subleft .bcheck label {
  font-size: 13px;
  font-family: "regular";
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 400;
  padding: 5px 7px;
  /* vertical-align:middle !important; */
}

.subleft .rating label {
  font-size: 14px;
}

.subleft .rating label img {
  filter: invert(1);
  /* margin-top: 5px; */
}

.section #hide,
.section #nothide {
  /* display: none; */
  border-bottom: 1px solid rgb(236, 233, 233);
}

.section #nothide .bhead img {
  transform: rotate(0deg);
}

.section .bhead {
  height: 25px;
}

.section .bmainrate {
  padding-left: 10px;
}

.section #hide .bmainrate {
  display: none;
}

.assured {
  border-bottom: 1px solid rgb(221, 219, 219);
  padding: 16px;
  display: flex;
  justify-content: space-between;
}

.assured div {
  display: flex;
}

.assured .ques span {
  /* filter: invert */
  border-radius: 50%;
  background-color: white;
  color: #878787;
  width: 16px;
  height: 16px;
  margin: 0 2px 0 8px;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.6);
  font-size: 12px;
  font-family: "semibold";
  font-weight: 500;
  text-align: center;
}

.assured img {
  /* width: ; */
  height: 21px;
  margin-left: 11px;
}

/* ================================== right ============================================== */

.mainphone {
  width: 100%;
  box-sizing: border-box;
}

.phones {
  padding: 24px 0 27px 24px;
  display: flex;
  position: relative;
  border-bottom: 1px solid #f0f0f0;
  font-family: "regular", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.imagesec {
  position: relative;
  width: 200px;
}

.imagesec .phoneimage {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  position: relative;
}

.imagesec .phoneimage img {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
  opacity: 1;
  margin: 0 auto;
  right: 0;
}

.imagesec .add {
  margin-top: 13px;
  box-sizing: border-box;
}

.imagesec .add input {
  /* visibility: hidden; */
  border: none;
  margin-left: 0;
}

.imagesec .add label {
  vertical-align: middle;
  margin-left: 5px;
  font-family: "regular";
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0.15px;
}

.heart {
  top: 1px;
  position: absolute;
  right: -8px;
}

.heart img {
  cursor: pointer;
  width: px;
  height: 14px;
  position: relative;
  filter: invert(0.4);
}

.datasec {
  display: flex;
  padding-left: 25px;
  width: 100%;
  /* width: calc(100% -200px); */
}

.datasec .leftpart {
  width: 58.33%;
}

.datasec .leftpart h1 {
  font-weight: 500;
  font-size: 17px;
  font-family: 'semibold';
  margin: 0;
  cursor: pointer;
  letter-spacing: .05px;
  margin-bottom: 0%;
}

.datasec .leftpart h1:hover {
  color: #2874f0;
}

.rate {
  margin-top: 0;
  padding-top: 1px;
}

.datasec .leftpart .rating {
  background-color: #388e3c;
  color: white;
  width: fit-content;
  padding: 3px 4px 2px 6px;
  font-weight: 500;
  border-radius: 3px;
  font-size: 11.5px;
  font-family: "semibold";
}

.datasec .leftpart .rating img {
  height: 10px;
  margin: 2px 0 0 2px;
}

.datasec .leftpart .review {
  padding-left: 3px;
  font-weight: 500;
  font-family: "semibold";
  color: #878787;
  font-size: 13.3px;
  vertical-align: text-top;
}

.datasec .leftpart ul {
  margin-top: 14px;
  line-height: 22px;
  list-style-type: none;
  font-size: 13.3px;
  font-family: "regular";
  font-weight: 400;
  padding-left: 0;
}

.datasec .leftpart ul li::before {
  content: "•";
  color: #c2c2c2;
  padding-right: 5px;
}

.datasec .rightpart {
  width: 41.66%;
  padding-left: 60px;
}

.datasec .rightpart .right {
  margin-top: -3px;
}

.datasec .rightpart img {
  height: 21px;
  padding-left: 16px;
  padding-top: 3px;
  /* vertical-align: top; */
}

.datasec .rightpart .price {
  font-size: 23.5px;
  font-family: "semibold";
  letter-spacing: .1px;
  vertical-align: top;
}

.datasec .rightpart .strike {
  color: #a5a0a0;
  font-size: 12.8px;
  font-family: 'regular';
  /* padding-top: 10px; */
  padding-right: 4px;
  letter-spacing: 0;
}

.datasec .rightpart .off {
  color: #4a984e;
  font-size: 12px;
  padding-top: 8px;
  font-weight: 600;
  letter-spacing: -.3px;
  font-family: "semibold";
}

.datasec .rightpart .free {
  font-size: 11px;
  line-height: 2.5;
  letter-spacing: .15px;
}

.datasec .rightpart .save {
  font-size: 11.5px;
  color: #388e3c;
  font-family: "semibold";
  padding-top: 1px;
  font-weight: 500;
  padding-bottom: 2px;
  letter-spacing: -0.05px;
}

.datasec .rightpart .exchange {
  font-size: 13px;
  letter-spacing: .15px;
}

.datasec .rightpart .exchange span {
  font-weight: 500;
  font-family: "semibold";
}



.next {
  box-sizing: border-box;
  width: 100%;

}

.subnext {
  /* border-top: ; */
  display: flex;
  padding: 10px;
  align-items: center;
  line-height: 32px;
  font-family: "regular";
  font-size: 14px;
  justify-content: space-between;
  align-items: center;
}


.pages {
  display: flex;
  padding: 4px 0;
  font-weight: 600;
}

.pages #count {
  padding: 0 8px;
  width: 18px;
  height: 32px;
  border-radius: 50%;
  /* background-color:#2874f0; */
  align-items: center;
  text-align: center;
  aspect-ratio: 1/1;
  cursor: pointer;
  text-decoration: none;

}

.pages .active {
  background-color: #2874f0;
  /* color: rgb(226, 33, 33); */
}


.pages .active a {
  color: rgb(243, 240, 240) !important;

}

.pages #count a {
  color: #080808;
  font-weight: 500;

  font-size: 13.3px;
  text-decoration: none;
  font-family: "semibold";
}

.pages .next,
.pages .prev {
  color: #2874f0;
  font-size: 12px;
  font-weight: 500;
  font-family: 'semibold';
  padding: 0 20px;
  cursor: pointer;
}

.pages .prev {
  display: none;
}

.pages .next:hover,
.pages .prev:hover {
  color: #083d94;
}

.looking {
  margin-top: 10px;
  background-color: #f1f3f6;

}

.sublook {
  font-size: 16px;
  font-family: "semibold";
  font-weight: 500;
  display: flex;
  margin-top: 10px;
  background-color: white;
  /* padding-left: 10px; */
  padding: 16px;
  align-items: center;


}

.sublook button {
  background-color: white;
  border: 1px solid rgb(216, 210, 210);
  margin-left: 25px;
  margin-right: -15px;
  /* padding: ; */
  border-radius: 2px;
  padding: 6px 28px;
  font-weight: 500;
}

footer {
  min-width: 978px;
  background-color: #172337;
  border-top: 1px solid #ddd;
  margin-top: 25px;
  box-sizing: border-box;
}

.footer {
  margin: 0 auto;
  text-align: left;
  width: 90% !important;
  padding-top: 40px;
  box-sizing: border-box;
  font-family: "regular";
  display: flex;
  flex-flow: row;
}

.footer1 {
  display: flex;
  width: 100%;
  /* width: 90% !important; */
  flex-flow: row wrap;

}

.footer1 .footsec {
  flex: 1;
  box-sizing: border-box;
  color: #878787;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 8px;
}

.footsec p {
  font-size: 11px;
  color: white;
  font-weight: 400;
}

#mail {
  border-left: 1px solid rgb(87, 86, 86);
  padding: 0 25px;
}

.footsec p span {
  color: #2874f0;
  font-weight: 600;
}

.mainbottom {
  border-top: 1px solid rgb(126, 125, 125);
}

.bottom {

  display: flex;
  color: white;
  font-family: "regular";
  font-size: 13.5px;
  padding: 26px 0;
  /* margin-top: 40px; */
  width: 100%;
  justify-content: space-evenly;
}

.bottom span {

  margin-left: 8px;
}



/* ============================================================================================  */


@media screen and (max-width:1170px) {

  .footer .footer1 {
      display: flex;
      flex-flow: column;
      /* display: n; */
  }

  #mail {
      border-left: none;
      padding-left: 0;

  }

  .bottom {
      display: flex;
      flex-flow: column;
      gap: 10px;
      padding-left: 40px;
  }
}